body{
    background-color: #f6f7f9;
    font-family: Arial, Verdana, sans-serif;
    font-weight: 500;
    height: 100%;
}

.header{
  background-image: url('../assets/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
  padding: 30px ;
  box-shadow: 0 50px 50px -12px rgba(0, 0, 0, 0.25);
}
.image{
  width: 100%;
height: auto;
}

.overskrift{
    margin-top: 50px;
    font-size: calc(0vw + 44px);
    width: 100%;
    color: #B70031;
    font-family: "FixtureCondensed";
    justify-content: center;
}

h2{
  width: 100%;
  font-size: calc(0vw + 44px);
  text-align: center;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }

  h3{
      color: #B70031;
  }

  .row{
    box-shadow: 0px 33px 65px 0px rgba(0, 0, 0, 0.2), 0px 50px 30px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 100px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;      
    }
  }


  .container{
      padding: 20px;
      font-size: 100%;
    
  }
  

  p{
    font-size: calc(0vw + 18px);
    line-height: 1.83333333;
    
  }


.card-deck{
  box-shadow: 0px 33px 65px 0px rgba(0, 0, 0, 0.2), 0px 50px 30px 0px rgba(0, 0, 0, 0.12);
  margin-top: 110px;
  margin-bottom: 110px;


}

.card-deck .card {
  margin: 15px;
  border: none;
}

.card-body {
  padding: 10px;
}

.kunst{
    text-align:center;
    margin-top: 70px;
    margin-bottom: 70px;

}


h4{
    color:#B70031;
    text-align: center;
    margin-bottom: 50px;
}

.bilde{
    width: 100%;
    margin: 5px;
    max-height: 550px;
    box-shadow: 0px 0px 7px 1px #000000;

}