.footer {
   
    background-color: white;
    color: #B70031;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 14px;
   
 }
 .txt{
    font-weight: 600;

 }

 .footer a{
     margin-left: 20px;
 }

 